.wrapper {
    background: url(../img/background.png) no-repeat fixed;
    background-size: 100%;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}
.head-container {
    max-width: 1030px;
    height: 60px;
    margin: 0 auto;  
    display: flex;  
    justify-content: space-between;
    padding-top: 46px;
}
.logo a {
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 50px;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 8px; 
    transition: 0.2s;
    position: relative;
}
.logo a:hover {
    color: #F26522;
    background-image: url(../img/logo2.svg);
    background-repeat: no-repeat;
}
.logo h1 {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    display: grid;
    position: absolute;
    left: 60px;
}
.logo span {
    font-size: 18px;
    line-height: 18px;
    padding-top: 3px;
}
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.contacts a {
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    transition: 0.2s;
}
.contacts a:hover {
    color: #F26522;
}
.main-container {
    max-width: 1030px;
    margin: 0 auto;
    margin-top: 20px;  
}
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 60px;
    row-gap: 40px;
}
.menu li {
    box-sizing: border-box;
    position: relative;
}
.menu a {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    transition: 0.2s;
}
.menu a:hover {
    color: #F26522;
}
.menu h2 {
    padding-top: 20px;
}
.plug {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 21%;
    width: 100%;
    box-sizing: border-box;
    background-color: #F26522;
    position:absolute;
    bottom: 16%;
    opacity: 0;
    transition: 0.2s;
    padding: 7px 15px 12px;
}
.menu li:hover .plug { 
    position:absolute;  
    z-index:2;
    color: #FFFFFF;
    opacity: 1;
}
.plug div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-family: 'Roboto';
    font-weight: 400;
}
.plug div span:nth-child(1) {
    font-size: 10px;
    line-height: 10px;
    text-align: start;
}
.plug div span:nth-child(2) {
    font-size: 20px;
    line-height: 20px;
    padding-top: 10px;
}
.plug span {
    font-size: 14px;
    line-height: 14px;
}
.details {
    display: block;
}
.details::after {
    content: '';
    border: solid #FFFFFF;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
}
footer {
    max-width: 1030px;
    margin: 0 auto; 
    padding-top: 49px;
    padding-bottom: 15px;
}
footer p {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-align: center;
}